version: "3.9"

services:
  backend:
    container_name: deployment_backend
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - backend/.env
    working_dir: /app/backend
    volumes:
      - ./backend:/app/backend
    ports:
      - "8000:8000"
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000
      --reload

  frontend:
    container_name: deployment_frontend
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

